<!DOCTYPE html>
<html layout:decorate="~{layout/main-layout}">
    <head>
        <title>Ogłoszenia</title>
        <th:block layout:fragment="page-styles">
            <link rel="stylesheet" th:href="@{/css/admin/admin-users.css}" href="../../static/css/admin/admin-users.css">
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
        
            <!-- <nav class="breadcrumb">
                <a href="/dashboard" class="breadcrumb-item">
                    <i class="fas fa-home"></i> Strona główna
                </a>
                <span class="breadcrumb-separator">/</span>
                <span class="breadcrumb-item active">Panel administratora</span>
                <span class="breadcrumb-separator">/</span>
                <span class="breadcrumb-item active">Ogłoszenia</span>
            </nav> -->
        
            <div class="admin-header">
                <div>
                    <h1>Ogłoszenia</h1>
                </div>
            </div>
        
    </body>
</html>