<!DOCTYPE html>
<html layout:decorate="~{layout/main-layout}">
    <head>
        <title>Ogłoszenia</title>
        <th:block layout:fragment="page-styles">
            <link rel="stylesheet" th:href="@{/css/admin/admin-users.css}" href="../../static/css/admin/admin-users.css">
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
        
            <div class="admin-header">
                <div>
                    <h1 style="color: #2c3e50; margin-bottom: 0.5rem;">Ogłoszenia</h1>
                </div>
            </div>
        
    </body>
</html>