<!DOCTYPE html>
<html layout:decorate="~{layout/main-layout}">
    <head>
        <title>Kontrola postów</title>
        <th:block layout:fragment="page-styles">
            <link rel="stylesheet" th:href="@{/css/admin/admin-users.css(v=${#dates.createNow().getTime()})}" href="../../static/css/admin/admin-users.css">
        </th:block>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="feature-under-development">
                <h2>Kontrola Postów</h2>
                <p>Funkcja w przygotowaniu.<br>Moduł kontroli postów jest obecnie w fazie rozwoju technicznego.<br>Przepraszamy za czasowe niedogodności.</p>
            </div>
        </div>
    </body>
</html>