<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <body>
        <nav class="side-nav" th:fragment="sidebar">
            <a th:href="@{/dashboard}" class="btn-navbar-left" th:classappend="${activePage == 'home'} ? 'active'">
                Strona główna
            </a>
            
            <a th:href="@{/dashboard/calendar}" class="btn-navbar-left" th:classappend="${activePage == 'calendar'} ? 'active'">
                Kalendarz
            </a>
            
            <a th:href="@{/dashboard/schedule}" class="btn-navbar-left" th:classappend="${activePage == 'schedule'} ? 'active'">
                Harmonogram zajęć
            </a>

            <a th:href="@{/dashboard/attendance}" class="btn-navbar-left" th:classappend="${activePage == 'attendance'} ? 'active'">
                Obecności
            </a>

            <a th:href="@{/dashboard/forum}" class="btn-navbar-left" th:classappend="${activePage == 'forum'} ? 'active'">
                Forum
            </a>

            <a th:href="@{/dashboard/notes}" class="btn-navbar-left" th:classappend="${activePage == 'notes'} ? 'active'">
                Notatki
            </a>

            <div sec:authorize="hasRole('ADMIN')" class="admin-section">
                <p class="admin-section-label">Admin</p>
                <a th:href="@{/admin/users}"  class="btn-navbar-left" th:classappend="${activePage == 'users'} ? 'active'">
                    Lista użytkowników
                </a>
                <a th:href="@{/admin/announcement}"  class="btn-navbar-left" th:classappend="${activePage == 'announcement'} ? 'active'">
                    Ogłoszenia  
                </a>
                <a th:href="@{/admin/post-control}"  class="btn-navbar-left" th:classappend="${activePage == 'post-control'} ? 'active'">
                    Kontrola postów
                </a>
                <a th:href="@{/admin/schedule-management}"  class="btn-navbar-left" th:classappend="${activePage == 'schedule-management'} ? 'active'">
                    Zarządzanie harmonogramem zajęć
                </a>
                <a th:href="@{/admin/groups-management}"  class="btn-navbar-left" th:classappend="${activePage == 'groups-management'} ? 'active'">
                    Zarządzanie grupami studenckimi
                </a>
                <a th:href="@{/admin/university-calendar}"  class="btn-navbar-left" th:classappend="${activePage == 'university-calendar'} ? 'active'">
                    Kalendarz akademicki
                </a>
                <a th:href="@{/admin/alerts}"  class="btn-navbar-left" th:classappend="${activePage == 'alerts'} ? 'active'">
                    Alerty
                </a>
            </div>
        </nav>
    </body>
</html>