<!DOCTYPE html>
<html layout:decorate="~{layout/main-layout}">
    <head>
        <title>Giełda studencka - PANSportal</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="feature-under-development">
                <h2>Giełda studencka</h2>
                <p>Funkcja w przygotowaniu.<br>Moduł giełdy studenckiej (oferty, wymiana materiałów, pomoc) jest obecnie w fazie rozwoju.<br>Przepraszamy za czasowe niedogodności.</p>
            </div>
        </div>
    </body>
</html>
