<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zmiana hasła</title>
    </head>
    <body>
        <form th:action="@{/change-password}" method="post">

            <div class="form-group">
                <label>Stare hasło</label>
                <input type="password" name="oldPassword" required>
            </div>

             <br>

            <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password" name="newPassword" required>
            </div>

             <br>

            <div class="form-group">
                <label>Powtórz nowe hasło</label>
                <input type="password" name="confirmPassword" required>
            </div>

            <br>

            <button type="submit">Zmień hasło</button>
        </form>
    </body>
</html>