<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edycja profilu użytkownika</title>

        <!-- import czcionek oraz ikon -->
        <link rel="icon" th:href="@{/favicon.png}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- osobny arkusz stylow -->
        <!-- <link rel="stylesheet" th:href="@{/css/user-profile.css}" href="../static/css/user-profile.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Edycja profilu</h1>
                <p>Zaktualizuj swoje dane osobowe</p>
            </div>

        </div>
    </body>
</html>